.container {
  border: 1px solid rgba(51, 66, 87, 0.08);
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(51, 66, 87, 0.08);
  background: var(--anchor-wrapper-bg);

  .header {
    padding: 12px 16px;
    border-bottom: 1px solid rgba(51, 66, 87, 0.08);
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
      font-size: 18px;
      font-weight: 500;
      margin: 0;
      border: 0;
    }
  }

  .content {
    padding: 12px 16px;
  }
}

[data-theme='dark'] {
  .container {
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

    .header {
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);

      .title {
        color: #ffffff;
      }
    }

    .content {
      color: #cccccc;
    }
  }
}
